.Photos section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0 20px 0;
}

.Photos img {
    border-radius: 4px;
    margin-bottom: 20px;
}

img:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    
}
